<div class="container">
  <h3>Legislator Lookup</h3>
</div>
<div class="lookup-form">
  <form>
    <div class="form-group form-inline inline">
      <label for="zip">Zip Code</label>
      {{input value=zip id="zip"}}
      <button class="btn btn-default zip-button"></button>
    </div>
  </form>
</div>
